@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Georgia, serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9674 0.0013 286.3752);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(0.9853 0.0029 84.5588);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(0.9853 0.0029 84.5588);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.7724 0.1728 65.367);
  --primary-foreground: oklch(0.1595 0.0045 84.5932);
  --secondary: oklch(0.9311 0.0112 89.7258);
  --secondary-foreground: oklch(0.351 0.0696 87.74);
  --muted: oklch(0.9578 0.0054 95.1006);
  --muted-foreground: oklch(0.5201 0.0125 95.3027);
  --accent: oklch(0.9244 0.1203 95.8453);
  --accent-foreground: oklch(0.4254 0.085 87.82);
  --destructive: oklch(0.6358 0.2088 25.4126);
  --border: oklch(0.9165 0.0128 86.8326);
  --input: oklch(0.9165 0.0128 86.8326);
  --ring: oklch(0.7862 0.1599 85.6788);
  --chart-1: oklch(0.8535 0.1744 88.7734);
  --chart-2: oklch(0.7457 0.1649 65.0805);
  --chart-3: oklch(0.5989 0.1696 42.2285);
  --chart-4: oklch(0.8669 0.1587 97.467);
  --chart-5: oklch(0.5093 0.0895 89.6995);
  --sidebar: oklch(0.9853 0.0029 84.5588);
  --sidebar-foreground: oklch(0.3257 0.0075 84.5917);
  --sidebar-primary: oklch(0.7862 0.1599 85.6788);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9457 0.0096 93.5714);
  --sidebar-accent-foreground: oklch(0.5656 0.1144 85.8528);
  --sidebar-border: oklch(0.9276 0.0055 95.1032);
  --sidebar-ring: oklch(0.7862 0.1599 85.6788);
  --destructive-foreground: oklch(0.9851 0 0);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 0px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2103 0.0059 285.8852);
  --foreground: oklch(0.9644 0.0029 84.559);
  --card: oklch(0.1469 0.0041 49.2499);
  --card-foreground: oklch(0.9644 0.0029 84.559);
  --popover: oklch(0.1465 0.0057 69.1979);
  --popover-foreground: oklch(0.9644 0.0029 84.559);
  --primary: oklch(0.829 0.1712 81.0381);
  --primary-foreground: oklch(0.1469 0.0041 49.2499);
  --secondary: oklch(0.2684 0.0134 41.6416);
  --secondary-foreground: oklch(0.9216 0.0928 92.2138);
  --muted: oklch(0.2366 0.011 48.2347);
  --muted-foreground: oklch(0.7312 0.0102 93.609);
  --accent: oklch(0.351 0.0696 87.74);
  --accent-foreground: oklch(0.9216 0.0928 92.2138);
  --destructive: oklch(0.3901 0.1298 25.5873);
  --border: oklch(0.2684 0.0134 41.6416);
  --input: oklch(0.2684 0.0134 41.6416);
  --ring: oklch(0.8384 0.1652 87.7611);
  --chart-1: oklch(0.8384 0.1652 87.7611);
  --chart-2: oklch(0.7457 0.1649 65.0805);
  --chart-3: oklch(0.6746 0.1682 44.5846);
  --chart-4: oklch(0.8951 0.1506 104.0825);
  --chart-5: oklch(0.5889 0.0954 82.222);
  --sidebar: oklch(0.1465 0.0057 69.1979);
  --sidebar-foreground: oklch(0.8883 0.0042 91.4507);
  --sidebar-primary: oklch(0.8384 0.1652 87.7611);
  --sidebar-primary-foreground: oklch(0.1595 0.0045 84.5932);
  --sidebar-accent: oklch(0.2142 0.0089 43.0656);
  --sidebar-accent-foreground: oklch(0.8384 0.1652 87.7611);
  --sidebar-border: oklch(0.2366 0.011 48.2347);
  --sidebar-ring: oklch(0.8384 0.1652 87.7611);
  --destructive-foreground: oklch(0.9851 0 0);
  --radius: 0.75rem;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 4px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 0px 0px hsl(0 0% 0% / 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
